In [2]:
# Zhitao He 29380448

import csv
import pandas as pd
import numpy as np
from IPython.display import display, HTML
crimedata = pd.read_excel('Crime_Suburb.xlsx')

In [3]:
display(crimedata.head())

,Year ending December,Postcode,Suburb/Town Name,Offence Division,Offence Subdivision,Offence Subgroup,Incidents Recorded
0,2009,3000,MELBOURNE,A Crimes against the person,A20 Assault and related offences,A232 Non-FV Common assault,407
1,2009,3000,MELBOURNE,A Crimes against the person,A20 Assault and related offences,A231 FV Common assault,26
2,2009,3000,MELBOURNE,A Crimes against the person,A20 Assault and related offences,A212 Non-FV Serious assault,618
3,2009,3000,MELBOURNE,A Crimes against the person,A20 Assault and related offences,A211 FV Serious assault,25
4,2009,3000,MELBOURNE,A Crimes against the person,A20 Assault and related offences,"A22 Assault police, emergency services or othe...",182

In [4]:
# Crime
#print(crimedata.columns)
crimedata2018 = crimedata.loc[crimedata['Year ending December']==2018]
display(crimedata2018.head())

,Year ending December,Postcode,Suburb/Town Name,Offence Division,Offence Subdivision,Offence Subgroup,Incidents Recorded
30089,2018,3000,MELBOURNE,A Crimes against the person,A20 Assault and related offences,A232 Non-FV Common assault,615
30090,2018,3000,MELBOURNE,A Crimes against the person,A20 Assault and related offences,A231 FV Common assault,120
30091,2018,3000,MELBOURNE,A Crimes against the person,A20 Assault and related offences,A212 Non-FV Serious assault,554
30092,2018,3000,MELBOURNE,A Crimes against the person,A20 Assault and related offences,A211 FV Serious assault,106
30093,2018,3000,MELBOURNE,A Crimes against the person,A20 Assault and related offences,"A22 Assault police, emergency services or othe...",130

In [5]:
crimeNumSuburb2018 = crimedata2018[["Suburb/Town Name","Incidents Recorded"]]
#display(crimeNumSuburb2018)
crimeN18 = crimeNumSuburb2018.groupby("Suburb/Town Name")["Incidents Recorded"].sum()
suburbc = []
cn = []
for i in crimeN18.index:
    suburbc.append(i)
for i in crimeN18:
    cn.append(i)

crimeN18new = pd.DataFrame({'Suburb':suburbc,'Crime Number':cn})
display(crimeN18new.head())

       Suburb  Crime Number
0    ABBEYARD             2
1  ABBOTSFORD          1154
2  ABERFELDIE            78
3     ACHERON             5
4   ADDINGTON             3

In [6]:
# School

schooldata = pd.read_csv('dv259-allschoolslist-2018.csv')
# print(schooldata.columns)
display(schooldata.head())

,Education_Sector,Entity_Type,School_No,School_Name,School_Type,School_Status,Address_Line_1,Address_Line_2,Address_Town,Address_State,...,Postal_Address_Line_1,Postal_Address_Line_2,Postal_Town,Postal_State,Postal_Postcode,Full_Phone_No,LGA_ID,LGA_Name,X,Y
0,Government,1,1,Alberton Primary School,Primary,O,21 Thomson Street,NaN,Alberton,VIC,...,21 Thomson Street,NaN,ALBERTON,VIC,3971,03 5183 2412,681,Wellington (S),146.666601,-38.617713
1,Government,1,3,Allansford and District Primary School,Primary,O,Frank Street,NaN,Allansford,VIC,...,Frank Street,NaN,ALLANSFORD,VIC,3277,03 5565 1382,673,Warrnambool (C),142.590393,-38.386281
2,Government,1,4,Avoca Primary School,Primary,O,118 Barnett Street,NaN,Avoca,VIC,...,P O Box 12,NaN,AVOCA,VIC,3467,03 5465 3176,599,Pyrenees (S),143.475649,-37.084502
3,Government,1,8,Avenel Primary School,Primary,O,40 Anderson Street,NaN,Avenel,VIC,...,40 Anderson Street,NaN,AVENEL,VIC,3664,03 5796 2264,643,Strathbogie (S),145.234722,-36.901368
4,Government,1,12,Warrandyte Primary School,Primary,O,5-11 Forbes Street,NaN,Warrandyte,VIC,...,5-11 Forbes Street,NaN,WARRANDYTE,VIC,3113,03 9844 3537,421,Manningham (C),145.213980,-37.742675

In [7]:
schoolNumSuburb =  schooldata[["Postal_Town","School_Type"]]
#display(schoolNumSuburb)
schooltype = schoolNumSuburb
schoolPrimary = schoolNumSuburb.loc[schoolNumSuburb['School_Type']=="Primary"]
schoolPS = schoolNumSuburb.loc[schoolNumSuburb['School_Type']=="Pri/Sec"]
schoolSecondary = schoolNumSuburb.loc[schoolNumSuburb['School_Type']=="Secondary"]
schoolSpecial = schoolNumSuburb.loc[schoolNumSuburb['School_Type']=="Special"]
#display(schoolPrimary)

schoolPN = schoolPrimary.groupby('Postal_Town')["School_Type"].count()
schoolPSN = schoolPS.groupby('Postal_Town')["School_Type"].count()
schoolSN = schoolSecondary.groupby('Postal_Town')["School_Type"].count()
schoolSpecialN = schoolSpecial.groupby('Postal_Town')["School_Type"].count()

#display(schoolPSN)
#display(schoolPN.columns)

# create school primiry sum
suburbsp = []
spn = []
for i in schoolPN.index:
    suburbsp.append(i)
#    for j in schoolPSN.index:
#        if i == j:
#            schoolPN[i] = schoolPN[i] + schoolPSN[j]

for i in schoolPN:
    spn.append(i)
    
schoolPNnew = pd.DataFrame({'Suburb':suburbsp,'Primary_School_Number':spn})
# create school secondary sum
suburbss = []
ssn = []
for i in schoolSN.index:
    suburbss.append(i)
#    for j in schoolPSN.index:
#        if i == j:
#            schoolSN[i] = schoolSN[i] + schoolPSN[j]

for i in schoolSN:
    ssn.append(i)
    
schoolSNnew = pd.DataFrame({'Suburb':suburbss,'Secondary_School_Number':ssn})

# create school specail sum
suburbsspecial = []
sspecialn = []
for i in schoolSpecialN.index:
    suburbsspecial.append(i)

for i in schoolSpecialN:
    sspecialn.append(i)
    
schoolSpecialNnew = pd.DataFrame({'Suburb':suburbsspecial,'Special_School_Number':sspecialn})

# create school primary/secondary sum
suburbsps = []
sps = []
for i in schoolPSN.index:
    suburbsps.append(i)

for i in schoolPSN:
    sps.append(i)
    
schoolPSNnew = pd.DataFrame({'Suburb':suburbsps,'PS_School_Number':sps})
#display(schoolPSNnew)

#display(schoolPNnew)
schoolfinal = pd.merge(schoolPNnew, schoolSNnew, how='outer', on=['Suburb'])
#display(schoolfinal)
schoolfinal = pd.merge(schoolfinal, schoolSpecialNnew, how='outer', on=['Suburb'])
#display(schoolfinal)
schoolfinal = pd.merge(schoolfinal, schoolPSNnew, how = 'outer', on = ['Suburb'])
schoolfinal = schoolfinal.fillna(0)
#display(schoolfinal)

schoolfinal['Primary_School_Number']= schoolfinal['Primary_School_Number']+ schoolfinal['PS_School_Number']
schoolfinal['Secondary_School_Number'] = schoolfinal['Secondary_School_Number'] +  schoolfinal['PS_School_Number']
schoolfinal['School_Total'] = schoolfinal['Primary_School_Number']+schoolfinal['Secondary_School_Number']+schoolfinal['Special_School_Number']-schoolfinal['PS_School_Number']
display(schoolfinal)
#CLAYTON = schoolPrimary.loc[schoolPrimary['Postal_Town']=="CLAYTON"]
#display(schoolSNnew)
#display(schoolSNnew)
#display(schoolSpecialNnew)
schoolmerge = schoolfinal[["Suburb","School_Total"]]
display(schoolmerge.head())

,Suburb,Primary_School_Number,Secondary_School_Number,Special_School_Number,PS_School_Number,School_Total
0,ABBOTSFORD,3.0,2.0,0.0,2.0,3.0
1,ABERFELDIE,1.0,1.0,0.0,0.0,2.0
2,AIRLY,1.0,0.0,0.0,0.0,1.0
3,AIRPORT WEST,1.0,0.0,0.0,0.0,1.0
4,ALBANVALE,1.0,0.0,0.0,0.0,1.0
5,ALBERT PARK,1.0,0.0,0.0,0.0,1.0
6,ALBERTON,1.0,0.0,0.0,0.0,1.0
7,ALBION,2.0,0.0,0.0,0.0,2.0
8,ALEXANDRA,2.0,1.0,0.0,0.0,3.0
9,ALFREDTON,2.0,0.0,0.0,0.0,2.0
10,ALLANSFORD,1.0,0.0,0.0,0.0,1.0
11,ALPHINGTON,3.0,1.0,0.0,1.0,3.0
12,ALTONA,3.0,0.0,0.0,0.0,3.0
13,ALTONA MEADOWS,2.0,0.0,0.0,0.0,2.0
14,ALTONA NORTH,4.0,3.0,0.0,1.0,6.0
15,AMPHITHEATRE,1.0,0.0,0.0,0.0,1.0
16,ANGLESEA,1.0,0.0,0.0,0.0,1.0
17,APSLEY,1.0,0.0,0.0,0.0,1.0
18,ARARAT,4.0,2.0,0.0,0.0,6.0
19,ARDEER,2.0,0.0,0.0,0.0,2.0
20,ARDMONA,1.0,0.0,0.0,0.0,1.0
21,ARMADALE,2.0,1.0,0.0,1.0,2.0
22,ARTHURS CREEK,1.0,0.0,0.0,0.0,1.0
23,ASCOT VALE,2.0,0.0,1.0,0.0,3.0
24,ASHBURTON,3.0,0.0,0.0,0.0,3.0
25,ASHWOOD,1.0,1.0,2.0,0.0,4.0
26,ASPENDALE,1.0,0.0,1.0,0.0,2.0
27,ASPENDALE GARDENS,1.0,0.0,0.0,0.0,1.0
28,AVENEL,1.0,0.0,0.0,0.0,1.0
29,AVOCA,1.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...
1028,MACLEOD,1.0,1.0,0.0,1.0,1.0
1029,MALLACOOTA,1.0,1.0,0.0,1.0,1.0
1030,MANANGATANG,1.0,1.0,0.0,1.0,1.0
1031,MONT ALBERT NORTH,1.0,1.0,0.0,1.0,1.0
1032,MT ELIZA,2.0,2.0,0.0,2.0,2.0
1033,MT MARTHA,1.0,1.0,0.0,1.0,1.0
1034,MURRAYVILLE,1.0,1.0,0.0,1.0,1.0
1035,Maryborough,1.0,1.0,0.0,1.0,1.0
1036,Merbein,1.0,1.0,0.0,1.0,1.0
1037,Myrtleford,1.0,1.0,0.0,1.0,1.0
1038,NEWHAVEN,1.0,1.0,0.0,1.0,1.0
1039,OUYEN,1.0,1.0,0.0,1.0,1.0
1040,ROBINVALE,2.0,2.0,0.0,2.0,2.0
1041,Rainbow,1.0,1.0,0.0,1.0,1.0
1042,SASSAFRAS,1.0,1.0,0.0,1.0,1.0
1043,SEYMOUR,1.0,1.0,0.0,1.0,1.0
1044,Sebastopol,1.0,1.0,0.0,1.0,1.0
1045,Seymour,1.0,1.0,0.0,1.0,1.0
1046,South Morang,1.0,1.0,0.0,1.0,1.0
1047,Swifts Creek,1.0,1.0,0.0,1.0,1.0
1048,TAYLORS HILL,1.0,1.0,0.0,1.0,1.0
1049,TIMBOON,1.0,1.0,0.0,1.0,1.0
1050,TYNONG,1.0,1.0,0.0,1.0,1.0
1051,Truganina,1.0,1.0,0.0,1.0,1.0
1052,WARRANWOOD,1.0,1.0,0.0,1.0,1.0
1053,WEDDERBURN,1.0,1.0,0.0,1.0,1.0
1054,WERRIMULL,1.0,1.0,0.0,1.0,1.0
1055,WYCHEPROOF,1.0,1.0,0.0,1.0,1.0
1056,Wodonga,1.0,1.0,0.0,1.0,1.0
1057,Yarrawonga,1.0,1.0,0.0,1.0,1.0

         Suburb  School_Total
0    ABBOTSFORD           3.0
1    ABERFELDIE           2.0
2         AIRLY           1.0
3  AIRPORT WEST           1.0
4     ALBANVALE           1.0

In [8]:
# suburb region match
#srdata = pd.read_excel('region - suburbs.xlsx')

In [9]:
#display(srdata)
#srdatanew = srdata.drop_duplicates(['Suburb','Region'])
#display(srdatanew)

#checkschool = pd.merge(schoolfinal,srdata,how = 'inner', on = ['Suburb'])
#display(checkschool)

In [10]:
#checkschool.to_csv('schoolcheck.csv')

In [12]:
# buy price

buypricedata = pd.read_excel('suburb_house_2017.xls')
display(buypricedata)



buyprice17 =  buypricedata[["Median House Price -   2017","Unnamed: 11"]]
buyprice17 = buyprice17.rename(columns={'Median House Price -   2017':'Suburb','Unnamed: 11':'Buy Price 2017'}).drop(index=[0,1])
display(buyprice17.head())

,Median House Price - 2017,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
0,NaN,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,prelim 2018,change,change,Growth PA
1,locality,Median,Median,Median,Median,Median,Median,Median,Median,Median,Median,Median,Median,2016-2017,2007-2017,NaN
2,ABBOTSFORD,607000,600000,648500,733000,730000,714000,792500,865000,925000,1187500,1290000,955000,9,113,7.8
3,ABERFELDIE,725000,710000,786500,1046500,994000,855000,947500,1045000,1207500,1300000,1407500,1570000,8,94,6.9
4,AINTREE,-,-,-,-,-,-,-,-,680500,640000,575000,617000,-10,NaN,NaN
5,AIREYS INLET,445000,517500,515000,606000,680000,634000,664000,625500,680000,715000,737500,747500,3,66,5.2
6,AIRPORT WEST,389500,425000,456000,575000,557000,495000,532000,575000,635000,745000,843500,785000,13,117,8.0
7,ALBANVALE,215000,252000,280000,320000,317000,310000,313000,326500,345000,439000,526500,560000,20,145,9.4
8,ALBERT PARK,990000,1125000,1050000,1167500,1390000,1265000,1360000,1503000,1705000,1775000,2150000,2010000,21,117,8.1
9,ALBION,262000,322500,349000,440000,400000,379500,379000,432000,481000,593000,717000,693500,21,174,10.6
10,ALEXANDRA,207000,205000,220000,230000,255000,239000,261000,247500,285000,275000,288000,361000,5,39,3.4
11,ALFREDTON,300000,300000,300000,316000,333000,340000,361500,362000,340500,375000,410000,390000,9,37,3.2
12,ALPHINGTON,740000,815000,836500,1000000,985000,1000000,1080000,1028000,1296500,1552500,1778500,1315000,15,140,9.2
13,ALTONA,416000,480000,498000,628500,575000,570000,575000,649000,720000,825000,950000,922500,15,129,8.6
14,ALTONA EAST,391500,412500,434500,562500,525000,550000,561000,605000,650000,795000,850000,930000,7,117,8.1
15,ALTONA MEADOWS,280000,310000,350000,385000,395000,375000,390000,415000,440000,495000,622500,664000,26,122,8.3
16,ALTONA NORTH,355000,401000,417500,515000,520000,487500,510000,555000,645000,725500,825000,910000,14,132,8.8
17,ANGLESEA,445000,455000,512500,580000,600500,587500,550000,612500,635000,655000,790000,840000,21,78,5.9
18,APOLLO BAY,415000,362500,430000,442500,495000,432500,450000,460000,435000,480000,543500,514000,13,31,2.7
19,ARARAT,148000,144500,159500,174000,169000,165000,180000,200000,210000,204500,200000,182500,-2,35,3.1
20,ARDEER,235000,272000,311000,380000,360000,342000,330000,360000,381500,520000,600000,630000,15,155,9.8
21,ARMADALE,1225000,1415000,1605000,1800000,1615000,1505000,1675000,1750000,2170000,2390000,2107500,1500000,-12,72,5.6
22,ARMSTRONG CREEK,-,-,-,-,205000,362500,467500,441500,440000,453000,475000,524000,5,NaN,NaN
23,ARTHURS SEAT,385000,442500,410000,470000,662500,715000,480000,705000,820000,798500,992500,NaN,24,158,9.9
24,ASCOT (GREATER BENDIGO),270000,295000,278000,330000,322000,350000,349000,339000,350000,370000,358000,390500,-3,33,2.9
25,ASCOT VALE,600000,669500,625500,750000,735000,701500,735000,810000,883000,1020000,1192500,1105000,17,99,7.1
26,ASHBURTON,815000,809000,790000,985000,890000,870000,993000,1200000,1435000,1567500,1815000,1685000,16,123,8.3
27,ASHWOOD,573000,607500,640000,760000,750000,681000,775000,884000,1140000,1230000,1410000,1480000,15,146,9.4
28,ASPENDALE,500000,507500,547500,637500,630000,610000,620000,690000,791000,890000,1122500,885000,26,125,8.4
29,ASPENDALE GARDENS,435000,475000,498500,581000,550000,552000,586500,632000,715000,775000,877500,927500,13,102,7.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
770,WILLAURA,78500,88000,99000,110000,97000,98000,81000,112000,129500,85000,100000,107000,18,27,2.5
771,WILLIAMS LANDING,328000,329000,355000,367500,371000,450000,470000,450000,510000,530000,642000,675000,21,96,6.9
772,WILLIAMSTOWN,760000,750000,800000,884000,900000,901000,920000,967500,1120000,1272500,1476000,1220000,16,94,6.9
773,WILLIAMSTOWN NORTH,546000,500000,500000,680000,839000,680000,768000,803500,850000,1135500,1175000,830000,3,115,8.0
774,WIMBLEDON HEIGHTS,266000,252500,260000,299000,259000,290000,271500,310000,291500,299000,334000,330000,12,26,2.3
775,WINCHELSEA,175000,196000,206000,235000,260000,268500,287000,287500,262000,267000,357000,390000,34,104,7.4
776,WINDSOR,730000,739000,781500,900000,824000,818000,835000,952000,1045000,1505000,1425000,1580000,-5,95,6.9
777,WINTER VALLEY,278500,292500,306000,325000,329000,353500,344500,360000,365000,362500,375000,382500,3,35,3.0
778,WODONGA,240000,242000,240000,262000,279500,255500,282500,298000,295000,315000,340500,340000,8,42,3.6
779,WOLLERT,-,-,403000,425000,450000,410000,400000,395000,430000,460500,537000,580000,17,NaN,NaN
780,WONGA PARK,500500,505000,667000,620000,672500,622500,674500,675000,735000,801000,965000,NaN,20,93,6.8
781,WONTHAGGI,220000,227500,250000,275000,261500,227500,230000,253000,260000,265000,289000,300000,9,31,2.8
782,WOODEND,325000,345500,340000,480000,480000,430000,471500,450000,477500,462500,570000,575000,23,75,5.8
783,WOOLAMAI WATERS,251000,271000,280000,340000,350000,350000,349500,381500,340000,377000,418000,422000,11,67,5.2
784,WOORI YALLOCK,219000,257000,278000,300000,312000,315000,330000,317000,359500,391500,480000,475000,23,119,8.2
785,WY YUNG,270000,280000,269000,289000,288500,325000,283000,285000,290000,333500,345000,317000,3,28,2.5
786,WYCHEPROOF,102500,91000,115000,86000,86000,96500,95000,103000,100000,82500,100000,60000,21,-2,-0.2
787,WYE RIVER,520000,454000,635000,760000,680000,557500,813000,646500,530000,1025000,718500,805000,-30,38,3.3
788,WYNDHAM VALE,215000,232000,261000,297000,290000,286500,288500,306000,325000,365000,435500,472500,19,103,7.3
789,YACKANDANDAH,229000,220000,225000,289000,295000,272500,327500,318000,300000,392500,445500,438000,14,95,6.9
790,YALLAMBIE,371000,410000,442500,507000,506000,471000,532500,580000,665000,713500,781000,760000,9,110,7.7
791,YALLOURN NORTH,118500,125000,120000,145000,139000,161000,135000,145000,153000,165500,180000,152000,9,52,4.3
792,YARRA GLEN,320000,317500,370000,415000,425000,395000,420000,460000,530000,540000,620000,591500,15,94,6.8
793,YARRA JUNCTION,241000,308500,292000,352500,365000,397000,406500,357500,420000,422500,515000,595000,22,114,7.9
794,YARRAGON,197000,180000,196500,206000,255000,266000,258000,297000,284000,300000,280000,400000,-7,42,3.6
795,YARRAM,172000,178500,180000,166000,195500,215000,190000,202500,245000,230000,225000,212500,-2,31,2.7
796,YARRAVILLE,490000,515000,541000,646000,607000,613000,695000,715000,813000,900500,1000000,970000,11,104,7.4
797,YARRAWONGA,269500,275000,270000,297000,270000,300000,305000,297000,301000,318500,324500,340000,2,21,1.9
798,YEA,213000,225000,214000,240000,270000,255000,260000,255000,260000,305000,386500,380000,27,82,6.2
799,YINNAR,167500,197500,183000,280500,208000,221500,220000,240000,182500,230000,270000,229500,17,61,4.9

         Suburb Buy Price 2017
2    ABBOTSFORD        1290000
3    ABERFELDIE        1407500
4       AINTREE         575000
5  AIREYS INLET         737500
6  AIRPORT WEST         843500

In [13]:
r = buypricedata.stack()
display(r.head())

0  Unnamed: 1    2007
   Unnamed: 2    2008
   Unnamed: 3    2009
   Unnamed: 4    2010
   Unnamed: 5    2011
dtype: object

In [35]:
# rent price

rentpricedata = pd.read_excel('Moving annual rents by suburb - December quarter 2018.xlsx')

In [36]:
#display(rentpricedata.columns)
#display(rentpricedata.head())

rentprice18 =  rentpricedata[["Suburb","Unnamed: 151"]]
#display(rentprice17.head())
rentprice18 = rentprice18.rename(columns={'Unnamed: 151':'Rent Price 2018'})
rentprice18 = rentprice18.reset_index(drop = True)
rentprice18['Suburb']=rentprice18['Suburb'].str.upper()
#rentprice18['Suburb'] = map(lambda x: x.upper(), rentprice18['Suburb'])

#display(rentprice18)

In [18]:
# hospital
hospitaldata = pd.read_csv('Hospital_Locations.csv')

In [19]:
#display(hospitaldata.columns)
#display(hospitaldata.head())
hospitalRegion = hospitaldata[["LGAName"]]

hospitalRegion = hospitalRegion.rename(columns={'LGAName':'Region'})
#display(hospitalRegion)

hospitalNum = hospitalRegion.groupby('Region')["Region"].count()
#display(hospitalNum)

hospitalre = []
hospitalcount = []

for i in hospitalNum.index:
    k = 0
    for j in i:
        if j =='(':
            k = 1
    if k == 1:
        hospitalre.append((i[:-4]).strip().upper())
    else:
        hospitalre.append(i.upper())
        
for i in hospitalNum:
    hospitalcount.append(i)
    
regionHN = pd.DataFrame({'Region':hospitalre,'Hospital_Number':hospitalcount})
#display(regionHN )
        
    

    
hospitalPC = hospitaldata[["Postcode"]]
#display(hospitalPC)
hospitalNP = hospitalPC.groupby('Postcode')["Postcode"].count()

In [20]:
# mearge with matching list
#display(srdata.head())
#display(regionHN.head())
checkhospital = pd.merge(srdata,regionHN,how = 'outer', on='Region', left_on=None, right_on=None,left_index=False, right_index=False, sort=True,  suffixes=('_x', '_y'), copy=True, indicator=False)
#display(checkhospital)

NameError: name 'srdata' is not defined

In [21]:
checkhospital.to_csv('Results/hospitalcheck.csv')

NameError: name 'checkhospital' is not defined

In [25]:
# count hospital with postcode
    
hospitalPC = hospitaldata[["Postcode"]]
display(hospitaldata)
hospitalNP = hospitalPC.groupby('Postcode')["Postcode"].count()

hospital1 = []
hospitalpn = []
for i in hospitalNP.index:
    hospital1.append(i)

for i in hospitalNP:
    hospitalpn.append(i)
    
hospitalNPnew = pd.DataFrame({'postcode':hospital1,'Hospital_Number':hospitalpn})   
#display(hospitalNPnew)

,X,Y,FID,LabelName,OpsName,Type,StreetNum,RoadName,RoadType,RoadSuffix,CampusCode,LGAName,LocalityNa,Postcode,VicgovRegi,State,ServiceNam
0,144.983399,-37.809681,1,East Melbourne Specialist Day Hospital,EAST MELBOURNE DAY HOSPITAL,PRIVATE,23,CLARENDON,STREET,,8280,MELBOURNE,,3002,NWMR,VIC,
1,145.149300,-37.951400,2,Windsor Avenue Day Surgery,WINDSOR AVENUE DAY SURGERY,PRIVATE,17,WINDSOR,AVENUE,,7050,GREATER DANDENONG,,3171,SMR,VIC,
2,145.344653,-38.034580,3,Hyperbaric Health Wound Centre Berwick,HYPERBARIC HEALTH - BERWICK,PRIVATE,3,GIBB,STREET,,7100,CASEY,,3806,SMR,VIC,
3,143.832286,-37.540553,4,Ballarat Day Procedure Centre,BALLARAT DAY PROCEDURE CENTRE,PRIVATE,1117-1123,HOWITT,STREET,,8430,BALLARAT,,3355,Gram,VIC,
4,145.143379,-38.148189,5,Bayside Day Procedure and Specialist Centre,BAYSIDE DAY PROCEDURE CENTRE,PRIVATE,141,CRANBOURNE,ROAD,,7310,FRANKSTON,,3199,SMR,VIC,
5,144.261500,-36.761900,6,Bendigo Day Surgery,BENDIGO DAY SURGERY,PRIVATE,1-7,CHUM,STREET,,8950,GREATER BENDIGO,,3555,LMR,VIC,
6,145.041233,-37.920125,7,Bentleigh Surgicentre,SURGICENTRE - BENTLEIGH,PRIVATE,157,JASPER,ROAD,,8940,GLEN EIRA,,3204,SMR,VIC,
7,145.346519,-38.033496,8,Berwick Surgicentre,SURGICENTRE AND EYE -BERWICK,PRIVATE,22,LANGMORE,LANE,,6240,CASEY,,3806,SMR,VIC,
8,144.991817,-37.912560,9,Brighton Plastic Surgery Centre,BRIGHTON PLASTIC SURGERY,PRIVATE,206,NEW,STREET,,8980,BAYSIDE,,3186,SMR,VIC,
9,145.061879,-37.692573,10,Victorian Gut Centre,BUNDOORA ENDOSCOPY CENTRE,PRIVATE,119,PLENTY,ROAD,,7580,WHITTLESEA,,3083,NWMR,VIC,
10,145.056802,-37.960467,11,Chesterville Day Hospital,CHESTERVILLE DAY HOSPITAL,PRIVATE,28,CHESTERVILLE,ROAD,,7850,KINGSTON,,3192,SMR,VIC,
11,144.964771,-37.745017,12,Coburg Endoscopy Centre,COBURG ENDOSCOPY CENTRE,PRIVATE,15,MUNRO,STREET,,8530,MORELAND,,3058,NWMR,VIC,
12,145.223301,-37.974247,13,Dandenong Eye Clinic & Day Surgery Centre,DANDENONG DAY SURGERY CENTRE,PRIVATE,1-3,FALKINER,CRESCENT,,7770,GREATER DANDENONG,,3175,SMR,VIC,
13,145.017576,-37.781101,14,Darebin Endoscopy Services,DAREBIN ENDOSCOPY SERVICES,PRIVATE,42,STATION,STREET,,7510,DAREBIN,,3078,NWMR,VIC,
14,145.107588,-37.705329,15,Diaverum Diamond Valley Dialysis Clinic,DIAVERUM - DIAMOND VALLEY,PRIVATE,15,GRIMSHAW,STREET,,7380,BANYULE,,3088,NWMR,VIC,
15,144.939908,-37.788679,16,Diaverum North Melbourne Dialysis Clinic,DIAVERUM - NORTH MELBOURNE,PRIVATE,185,BOUNDARY,ROAD,,6390,MELBOURNE,,3051,NWMR,VIC,
16,145.227502,-37.819784,17,Eastside Endoscopy Centre,EASTSIDE ENDOSCOPY CENTRE,PRIVATE,33,WANTIRNA,ROAD,,7360,MAROONDAH,,3134,EMR,VIC,
17,144.923638,-37.765793,18,Essendon Private Clinic,ESSENDON DAY PROCEDURE CENTRE,PRIVATE,665,MOUNT ALEXANDER,ROAD,,6180,MOONEE VALLEY,,3039,NWMR,VIC,
18,145.019214,-37.900435,19,Glen Eira Day Surgery,GLEN EIRA DAY SURGERY,PRIVATE,544,HAWTHORN,ROAD,,8460,GLEN EIRA,,3162,SMR,VIC,
19,145.094026,-37.858089,20,Glen Iris Private,GLEN IRIS PRIVATE,PRIVATE,314,WARRIGAL,ROAD,,8900,BOROONDARA,,3146,EMR,VIC,
20,145.060173,-37.730492,21,Heidelberg Endoscopy and Day Surgery Centre,HEIDELBERG ENDOSCOPY CENTRE,PRIVATE,177-179,NORTHERN,ROAD,,7400,BANYULE,,3081,NWMR,VIC,
21,144.828483,-37.869648,22,Altona Endoscopy Centre,HOBSONS BAY ENDO - ALTONA,PRIVATE,3-5,SARGOOD,STREET,,8270,HOBSONS BAY,,3018,NWMR,VIC,
22,144.686700,-37.890500,23,Werribee Endoscopy Centre,HOBSONS BAY ENDO - WERRIBEE,PRIVATE,179,PRINCES,HIGHWAY,,7830,WYNDHAM,,3030,NWMR,VIC,
23,145.044900,-37.767000,24,Ivanhoe Endoscopy Centre,IVANHOE ENDOSCOPY CENTRE,PRIVATE,226,UPPER HEIDELBERG,ROAD,,6410,BANYULE,,3079,NWMR,VIC,
24,144.978672,-37.816765,25,Jolimont Endoscopy Centre,JOLIMONT ENDOSCOPY CENTRE,PRIVATE,201,WELLINGTON,PARADE,S,7970,MELBOURNE,,3002,NWMR,VIC,
25,145.030500,-37.851500,26,Malvern Dialysis Clinic,MALVERN DIALYSIS CLINIC,PRIVATE,1133,MALVERN,ROAD,,8960,STONNINGTON,,3144,SMR,VIC,
26,145.115200,-37.773100,27,Manningham Day Procedure Centre,MANNINGHAM DAY CENTRE,PRIVATE,503/200,HIGH,STREET,,7140,MANNINGHAM,,3107,EMR,VIC,
27,145.030400,-37.887800,28,Melbourne Day Surgery Centre,MELBOURNE DAY SURGERY CENTRE,PRIVATE,961,GLEN HUNTLY,ROAD,,6990,GLEN EIRA,,3162,SMR,VIC,
28,144.979100,-37.844600,29,Melbourne Endoscopy,MELBOURNE ENDOSCOPY CENTRE,PRIVATE,517,ST KILDA,ROAD,,6960,MELBOURNE,,3004,NWMR,VIC,
29,144.363215,-38.151073,30,Monash IVF Geelong,MONASH IVF GEELONG,PRIVATE,73-79,LITTLE RYRIE,STREET,,8200,GREATER GEELONG,,3220,BSW,VIC,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,144.887600,-37.797400,296,Tweddle Child and Family Health Service,TWEDDLE CHILD FAMILY HOSPITAL,PUBLIC,49-71,ADELAIDE,STREET,,1900,Maribyrnong (C),FOOTSCRAY,3011,NWMR,VIC,Tweddle Child & Family Health Centre
296,147.903200,-36.198800,297,Upper Murray Health and Community Services (Co...,CORRYONG PUBLIC HOSPITAL,PUBLIC,16-20,KIELL,STREET,,2150,Towong (S),CORRYONG,3707,HUME,VIC,Upper Murray Health & Community Services
297,145.226200,-37.848200,298,Wantirna Health,WANTIRNA PUBLIC HOSPITAL,PUBLIC,251,MOUNTAIN,HIGHWAY,,2330,Knox (C),WANTIRNA,3152,EMR,VIC,Eastern Health
298,144.699200,-37.885800,299,Mercy Public Hospitals Inc (Werribee),WERRIBEE MERCY HOSPITAL,PUBLIC,300-310,PRINCES,HIGHWAY,,1320,Wyndham (C),WERRIBEE,3030,NWMR,VIC,Mercy Public Hospitals Inc
299,145.927500,-38.172800,300,West Gippsland Healthcare Group (Warragul),WARRAGUL PUBLIC HOSPITAL,PUBLIC,41,LANDSBOROUGH,STREET,,1580,Baw Baw (S),WARRAGUL,3820,Gipp,VIC,West Gippsland Healthcare Group
300,141.984400,-36.140900,301,West Wimmera Health Service (Jeparit),JEPARIT PUBLIC HOSPITAL,PUBLIC,2,CHARLES,STREET,,2373,Hindmarsh (S),JEPARIT,3423,Gram,VIC,West Wimmera Health Service
301,141.246000,-36.381500,302,West Wimmera Health Service (Kaniva),KANIVA PUBLIC HOSPITAL,PUBLIC,1-7,ROACHE,STREET,,2372,West Wimmera (S),KANIVA,3419,Gram,VIC,West Wimmera Health Service
302,141.656100,-36.333900,303,West Wimmera Health Service (Nhill),NHILL PUBLIC HOSPITAL,PUBLIC,51,NELSON,STREET,,2371,Hindmarsh (S),NHILL,3418,Gram,VIC,West Wimmera Health Service
303,141.995100,-35.904100,304,West Wimmera Health Service (Rainbow),RAINBOW PUBLIC HOSPITAL,PUBLIC,2,SWINBOURNE,AVENUE,,2374,Hindmarsh (S),RAINBOW,3424,Gram,VIC,West Wimmera Health Service
304,142.030100,-37.737300,305,Hamilton Base Hospital,HAMILTON BASE PUBLIC HOSPITAL,PUBLIC,20,FOSTER,STREET,,1071,Southern Grampians (S),HAMILTON,3300,BSW,VIC,Western District Health Service
305,142.282500,-37.877200,306,Penshurst & District Memorial Hospital,PENSHURST PUBLIC HOSPITAL,PUBLIC,146,COBB,STREET,,1072,Southern Grampians (S),PENSHURST,3289,BSW,VIC,Western District Health Service
306,141.692500,-37.599800,307,Western District Health Service (Coleraine),COLERAINE PUBLIC HOSPITAL,PUBLIC,71,MCLEOD,STREET,,2140,Southern Grampians (S),COLERAINE,3315,BSW,VIC,Western District Health Service
307,144.887400,-37.792400,308,Western Hospital (Footscray),WESTERN HOSPITAL - FOOTSCRAY,PUBLIC,160,GORDON,STREET,,1180,Maribyrnong (C),FOOTSCRAY,3011,NWMR,VIC,Western Health
308,144.892800,-37.863600,309,Williamstown Hospital,WILLIAMSTOWN PUBLIC HOSPITAL,PUBLIC,76A,RAILWAY,CRESCENT,,1460,Hobsons Bay (C),WILLIAMSTOWN,3016,NWMR,VIC,Western Health
309,142.024200,-36.449700,310,Wimmera Base Hospital (Dimboola),DIMBOOLA PUBLIC HOSPITAL,PUBLIC,32,ANDERSON,STREET,,3180,Hindmarsh (S),DIMBOOLA,3414,Gram,VIC,Wimmera Health Care Group
310,142.209200,-36.711900,311,Wimmera Base Hospital (Horsham),HORSHAM PUBLIC HOSPITAL,PUBLIC,83,BAILLIE,STREET,,2170,Horsham (RC),HORSHAM,3400,Gram,VIC,Wimmera Health Care Group
311,146.879500,-36.131800,312,Albury Wodonga Health (Wodonga),WODONGA PUBLIC HOSPITAL,PUBLIC,53-81,VERMONT,STREET,,1660,Wodonga (RC),WODONGA,3690,HUME,VIC,Albury Wodonga Health
312,146.678100,-38.557100,313,Yarram and District Health Service,YARRAM PUBLIC HOSPITAL,PUBLIC,85-91,COMMERCIAL,ROAD,,1770,Wellington (S),YARRAM,3971,Gipp,VIC,Yarram & District Health Service
313,146.006833,-36.011198,314,Yarrawonga Health,YARRAWONGA PUBLIC HOSPITAL,PUBLIC,33,PIPER,STREET,,1780,Moira (S),YARRAWONGA,3730,HUME,VIC,Yarrawonga District Health Service
314,145.431300,-37.213900,315,Yea and District Memorial Hospital,YEA PUBLIC HOSPITAL,PUBLIC,45,STATION,STREET,,3590,Murrindindi (S),YEA,3717,HUME,VIC,Yea & District Memorial Hospital
315,145.351400,-37.756600,316,Yarra Ranges Health,LILYDALE PUBLIC HOSPITAL,PUBLIC,25,MARKET,STREET,,3690,Yarra Ranges (S),LILYDALE,3140,EMR,VIC,Eastern Health
316,145.149600,-38.172800,317,Golf Links Road Rehabilitation Centre,MOUNT ELIZA REHAB - FRANKSTON,PUBLIC,125,GOLF LINKS,ROAD,,4083,Frankston (C),FRANKSTON,3199,SMR,VIC,Peninsula Health
317,145.041600,-38.230100,318,The Mornington Centre,MOUNT ELIZA REHAB - MORNINGTON,PUBLIC,24,SEPARATION,STREET,,4084,Mornington Peninsula (S),MORNINGTON,3931,SMR,VIC,Peninsula Health
318,144.732700,-37.577200,319,Sunbury Day Hospital,SUNBURY PUBLIC HOSPITAL,PUBLIC,7,MACEDON,STREET,,2700,Hume (C),SUNBURY,3429,NWMR,VIC,Western Health
319,146.939700,-36.078500,320,Albury Wodonga Health (Albury),ALBURY BASE PUBLIC HOSPITAL,PUBLIC,201,BORELLA,ROAD,,1650,Albury (C),EAST ALBURY (NSW),2640,,NSW,Albury Wodonga Health
320,142.857700,-35.500500,321,Mallee Track Health & Community Service (Sea L...,SEA LAKE AND DISTRICT HOSPITAL,PUBLIC,33-43,MCCLELLAND,AVENUE,,7270,Buloke (S),SEA LAKE,3533,LMR,VIC,Mallee Track Health & Community Service
321,144.887100,-37.791100,322,Orygen Inpatient Unit,ORYGEN YOUTH HEALTH,PUBLIC,10,MAVIS,STREET,,1332,Maribyrnong (C),FOOTSCRAY,3011,NWMR,VIC,Melbourne Health
322,145.018500,-37.961000,323,Women's Sandringham,SANDRINGHAM WOMENS,PUBLIC,191-193,BLUFF,ROAD,,1232,Bayside (C),SANDRINGHAM,3191,SMR,VIC,Royal Womens Hospital
323,144.886976,-37.791622,324,Ursula Frayne Centre,URSULA FRAYNE CENTRE,PUBLIC,160,GORDON,STREET,,1321,Maribyrnong (C),FOOTSCRAY,3011,NWMR,VIC,Mercy Public Hospitals Inc
324,144.977380,-37.811873,325,Eye and Ear on the Park,EYE AND EAR ON THE PARK,PUBLIC,2,ST ANDREWS,PLACE,,1240,Melbourne (C),EAST MELBOURNE,3002,NWMR,VIC,Royal Victorian Eye & Ear Hospital

In [26]:
# match postcode with location
postsuburbdata = pd.read_excel('australian_postcodes.xls')
display(postsuburbdata.head())

,postcode,locality,State,long,lat,id,dc,type,status
0,6532,CARRARANG,WA,115.004595,-28.440886,10861,GERALDTON DC,Delivery Area,NaN
1,6532,COBURN,WA,115.004595,-28.440886,10862,GERALDTON DC,Delivery Area,NaN
2,6532,COOLCALALAYA,WA,115.004595,-28.440886,10863,GERALDTON DC,Delivery Area,NaN
3,6532,DARTMOOR,WA,115.004595,-28.440886,10864,GERALDTON DC,Delivery Area,NaN
4,6532,DEEPDALE,WA,115.004595,-28.440886,10865,GERALDTON DC,Delivery Area,NaN

In [45]:
#display(postsuburbdata)
postsuburb = postsuburbdata[["postcode","locality"]]
display(postsuburb.head())

   postcode      locality
0      6532     CARRARANG
1      6532        COBURN
2      6532  COOLCALALAYA
3      6532      DARTMOOR
4      6532      DEEPDALE

In [46]:
hospitalmerge = pd.merge(postsuburb,hospitalNPnew, how = 'inner', on='postcode')
display(hospitalmerge.head())

   Postcode         Suburb  Hospital_Number
0      3393            LAH                1
1      3393  WARRACKNABEAL                1
2      3393         WILKUR                1
3      3393   WILLENABRINA                1
4      3393          AILSA                1

In [47]:
#school crime
final1 = pd.merge(schoolmerge, crimeN18new, how='inner', on=None, left_on=None, right_on=None,      left_index=False, right_index=False, sort=True,      suffixes=('_x', '_y'), copy=True, indicator=False)
#display(final1.head())
#school crime buy
final2 = pd.merge(final1, buyprice17, how='inner', on=None, left_on=None, right_on=None,      left_index=False, right_index=False, sort=True,      suffixes=('_x', '_y'), copy=True, indicator=False)
#display(final2)
final2.sort_values(by=['Crime Number'],ascending = False, inplace=True)
#display(final2)
# school crime buy rent
final3 = pd.merge(final2, rentprice18, how='inner', on=None, left_on=None, right_on=None,      left_index=False, right_index=False, sort=True,      suffixes=('_x', '_y'), copy=True, indicator=False)
display(final3.head())
# school crime buy hospital
final4 = pd.merge(final2,hospitalmerge,how = 'outer')
final4 = final4.fillna(0)
display(final4.head())

       Suburb  School_Total  Crime Number Buy Price 2017 Rent Price 2018
0      ALTONA           3.0           595         950000             290
1    ARMADALE           2.0           480        2107500             360
2  BAIRNSDALE           8.0          1273         270000             165
3      BALWYN           5.0           417        2360000             380
4   BAYSWATER           7.0           910         805500               -

,Suburb,School_Total,Crime Number,Buy Price 2017,Postcode,Hospital_Number
0,DANDENONG,9.0,6148.0,620000,3175.0,5.0
1,FRANKSTON,7.0,6018.0,600000,3199.0,7.0
2,MILDURA,10.0,4588.0,265000,3500.0,3.0
3,SHEPPARTON,14.0,4302.0,260000,3630.0,2.0
4,PRESTON,6.0,4124.0,990000,3072.0,1.0

In [48]:
final2.to_csv('Results/iteration1data.csv')
final4.to_csv('Results/check1.csv')

In [ ]:
finaldata = pd.read_csv('dataforitertion1.csv')

In [40]:
#display(finaldata)
schoolmerge1 = pd.merge(finaldata,schoolfinal)
display(schoolmerge1)
schoolmerge1.to_csv('Results/schooldetail.csv')

NameError: name 'finaldata' is not defined