In [2]:
import csv
import pandas as pd
import numpy as np
buypricedata = pd.read_excel('suburb_house_20171.xls')
display(buypricedata)

,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
locality,Median,Median,Median,Median,Median,Median,Median,Median,Median,Median,Median
ABBOTSFORD,607000,600000,648500,733000,730000,714000,792500,865000,925000,1187500,1290000
ABERFELDIE,725000,710000,786500,1046500,994000,855000,947500,1045000,1207500,1300000,1407500
AINTREE,-,-,-,-,-,-,-,-,680500,640000,575000
AIREYS INLET,445000,517500,515000,606000,680000,634000,664000,625500,680000,715000,737500
AIRPORT WEST,389500,425000,456000,575000,557000,495000,532000,575000,635000,745000,843500
ALBANVALE,215000,252000,280000,320000,317000,310000,313000,326500,345000,439000,526500
ALBERT PARK,990000,1125000,1050000,1167500,1390000,1265000,1360000,1503000,1705000,1775000,2150000
ALBION,262000,322500,349000,440000,400000,379500,379000,432000,481000,593000,717000
ALEXANDRA,207000,205000,220000,230000,255000,239000,261000,247500,285000,275000,288000
ALFREDTON,300000,300000,300000,316000,333000,340000,361500,362000,340500,375000,410000
ALPHINGTON,740000,815000,836500,1000000,985000,1000000,1080000,1028000,1296500,1552500,1778500
ALTONA,416000,480000,498000,628500,575000,570000,575000,649000,720000,825000,950000
ALTONA EAST,391500,412500,434500,562500,525000,550000,561000,605000,650000,795000,850000
ALTONA MEADOWS,280000,310000,350000,385000,395000,375000,390000,415000,440000,495000,622500
ALTONA NORTH,355000,401000,417500,515000,520000,487500,510000,555000,645000,725500,825000
ANGLESEA,445000,455000,512500,580000,600500,587500,550000,612500,635000,655000,790000
APOLLO BAY,415000,362500,430000,442500,495000,432500,450000,460000,435000,480000,543500
ARARAT,148000,144500,159500,174000,169000,165000,180000,200000,210000,204500,200000
ARDEER,235000,272000,311000,380000,360000,342000,330000,360000,381500,520000,600000
ARMADALE,1225000,1415000,1605000,1800000,1615000,1505000,1675000,1750000,2170000,2390000,2107500
ARMSTRONG CREEK,-,-,-,-,205000,362500,467500,441500,440000,453000,475000
ARTHURS SEAT,385000,442500,410000,470000,662500,715000,480000,705000,820000,798500,992500
ASCOT (GREATER BENDIGO),270000,295000,278000,330000,322000,350000,349000,339000,350000,370000,358000
ASCOT VALE,600000,669500,625500,750000,735000,701500,735000,810000,883000,1020000,1192500
ASHBURTON,815000,809000,790000,985000,890000,870000,993000,1200000,1435000,1567500,1815000
ASHWOOD,573000,607500,640000,760000,750000,681000,775000,884000,1140000,1230000,1410000
ASPENDALE,500000,507500,547500,637500,630000,610000,620000,690000,791000,890000,1122500
ASPENDALE GARDENS,435000,475000,498500,581000,550000,552000,586500,632000,715000,775000,877500
ATTWOOD,365000,440000,485000,576000,592000,500000,540000,515000,620000,660000,740000
...,...,...,...,...,...,...,...,...,...,...,...
WILLAURA,78500,88000,99000,110000,97000,98000,81000,112000,129500,85000,100000
WILLIAMS LANDING,328000,329000,355000,367500,371000,450000,470000,450000,510000,530000,642000
WILLIAMSTOWN,760000,750000,800000,884000,900000,901000,920000,967500,1120000,1272500,1476000
WILLIAMSTOWN NORTH,546000,500000,500000,680000,839000,680000,768000,803500,850000,1135500,1175000
WIMBLEDON HEIGHTS,266000,252500,260000,299000,259000,290000,271500,310000,291500,299000,334000
WINCHELSEA,175000,196000,206000,235000,260000,268500,287000,287500,262000,267000,357000
WINDSOR,730000,739000,781500,900000,824000,818000,835000,952000,1045000,1505000,1425000
WINTER VALLEY,278500,292500,306000,325000,329000,353500,344500,360000,365000,362500,375000
WODONGA,240000,242000,240000,262000,279500,255500,282500,298000,295000,315000,340500
WOLLERT,-,-,403000,425000,450000,410000,400000,395000,430000,460500,537000
WONGA PARK,500500,505000,667000,620000,672500,622500,674500,675000,735000,801000,965000
WONTHAGGI,220000,227500,250000,275000,261500,227500,230000,253000,260000,265000,289000
WOODEND,325000,345500,340000,480000,480000,430000,471500,450000,477500,462500,570000
WOOLAMAI WATERS,251000,271000,280000,340000,350000,350000,349500,381500,340000,377000,418000
WOORI YALLOCK,219000,257000,278000,300000,312000,315000,330000,317000,359500,391500,480000
WY YUNG,270000,280000,269000,289000,288500,325000,283000,285000,290000,333500,345000
WYCHEPROOF,102500,91000,115000,86000,86000,96500,95000,103000,100000,82500,100000
WYE RIVER,520000,454000,635000,760000,680000,557500,813000,646500,530000,1025000,718500
WYNDHAM VALE,215000,232000,261000,297000,290000,286500,288500,306000,325000,365000,435500
YACKANDANDAH,229000,220000,225000,289000,295000,272500,327500,318000,300000,392500,445500
YALLAMBIE,371000,410000,442500,507000,506000,471000,532500,580000,665000,713500,781000
YALLOURN NORTH,118500,125000,120000,145000,139000,161000,135000,145000,153000,165500,180000
YARRA GLEN,320000,317500,370000,415000,425000,395000,420000,460000,530000,540000,620000
YARRA JUNCTION,241000,308500,292000,352500,365000,397000,406500,357500,420000,422500,515000
YARRAGON,197000,180000,196500,206000,255000,266000,258000,297000,284000,300000,280000
YARRAM,172000,178500,180000,166000,195500,215000,190000,202500,245000,230000,225000
YARRAVILLE,490000,515000,541000,646000,607000,613000,695000,715000,813000,900500,1000000
YARRAWONGA,269500,275000,270000,297000,270000,300000,305000,297000,301000,318500,324500
YEA,213000,225000,214000,240000,270000,255000,260000,255000,260000,305000,386500
YINNAR,167500,197500,183000,280500,208000,221500,220000,240000,182500,230000,270000

In [5]:
r = buypricedata.stack()
r.index.names=['Suburb','Year']
r = r.swaplevel('Suburb','Year')
r.to_csv('suburbbuy.csv')

In [6]:
resultdt = pd.read_csv('AddedRentdata.csv')
display(resultdt.head())

        Suburb  Rent  Distance  SchoolNo  CrimeNo  Buy_Price  HospitalNo
0   Abbotsford   630       3.2         3     1154    1290000           0
1    Albanvale   360      18.6         1      256     526500           4
2  Albert Park   795       3.0         1      605    2150000           0
3       Albion   360      13.3         2      421     717000           1
4    Alexandra   280      95.8         3      122     288000           1

In [7]:
postsuburbdata = pd.read_excel('australian_postcodes.xls')

In [8]:
display(postsuburbdata.head())

,postcode,locality,State,long,lat,id,dc,type,status
0,6532,CARRARANG,WA,115.004595,-28.440886,10861,GERALDTON DC,Delivery Area,NaN
1,6532,COBURN,WA,115.004595,-28.440886,10862,GERALDTON DC,Delivery Area,NaN
2,6532,COOLCALALAYA,WA,115.004595,-28.440886,10863,GERALDTON DC,Delivery Area,NaN
3,6532,DARTMOOR,WA,115.004595,-28.440886,10864,GERALDTON DC,Delivery Area,NaN
4,6532,DEEPDALE,WA,115.004595,-28.440886,10865,GERALDTON DC,Delivery Area,NaN

In [9]:
subdata = postsuburbdata[["locality","long","lat"]]

In [10]:
display(subdata.head())

       locality        long        lat
0     CARRARANG  115.004595 -28.440886
1        COBURN  115.004595 -28.440886
2  COOLCALALAYA  115.004595 -28.440886
3      DARTMOOR  115.004595 -28.440886
4      DEEPDALE  115.004595 -28.440886

In [11]:
subdata = subdata.rename(columns={'locality':'Suburb','long':'long','lat':'lat'})

In [12]:
display(subdata.head())

         Suburb        long        lat
0     CARRARANG  115.004595 -28.440886
1        COBURN  115.004595 -28.440886
2  COOLCALALAYA  115.004595 -28.440886
3      DARTMOOR  115.004595 -28.440886
4      DEEPDALE  115.004595 -28.440886

In [40]:
resultdt['Suburb']=resultdt['Suburb'].str.upper()
display(resultdt.head())
finaldata = pd.merge(resultdt,subdata, how = 'inner', on = 'Suburb')

        Suburb  Rent  Distance  SchoolNo  CrimeNo  Buy_Price  HospitalNo
0   ABBOTSFORD   630       3.2         3     1154    1290000           0
1    ALBANVALE   360      18.6         1      256     526500           4
2  ALBERT PARK   795       3.0         1      605    2150000           0
3       ALBION   360      13.3         2      421     717000           1
4    ALEXANDRA   280      95.8         3      122     288000           1

In [41]:
display(finaldata)

,Suburb,Rent,Distance,SchoolNo,CrimeNo,Buy_Price,HospitalNo,long,lat
0,ABBOTSFORD,630,3.2,3,1154,1290000,0,152.297855,-24.887760
1,ABBOTSFORD,630,3.2,3,1154,1290000,0,151.133865,-33.866044
2,ABBOTSFORD,630,3.2,3,1154,1290000,0,144.998203,-37.803515
3,ALBANVALE,360,18.6,1,256,526500,4,144.796693,-37.743361
4,ALBERT PARK,795,3.0,1,605,2150000,0,144.950860,-37.846534
5,ALBERT PARK,795,3.0,1,605,2150000,0,138.509247,-34.864750
6,ALBION,360,13.3,2,421,717000,1,153.043540,-27.433237
7,ALBION,360,13.3,2,421,717000,1,144.829945,-37.777204
8,ALEXANDRA,280,95.8,3,122,288000,1,145.687889,-37.210538
9,ALEXANDRA,280,95.8,3,122,288000,1,149.059737,-21.337630
10,ALFREDTON,360,104.9,2,310,410000,4,143.864505,-37.571941
11,ALPHINGTON,590,7.0,3,219,1778500,1,145.025853,-37.778298
12,ALTONA,423,13.2,3,595,950000,1,138.897802,-34.638218
13,ALTONA,423,13.2,3,595,950000,1,144.812736,-37.861720
14,ALTONA MEADOWS,370,17.5,2,691,622500,0,144.777165,-37.875066
15,ARDEER,335,14.5,2,371,600000,0,144.793961,-37.795937
16,ARMADALE,835,6.7,2,480,2107500,0,145.019393,-37.858918
17,ARMADALE,835,6.7,2,480,2107500,0,NaN,NaN
18,ARMADALE,835,6.7,2,480,2107500,0,115.997934,-32.158675
19,ASCOT VALE,510,5.5,3,1046,1192500,1,144.897221,-37.774486
20,ASHBURTON,530,11.6,3,354,1815000,1,145.092946,-37.867864
21,ASHWOOD,438,12.7,4,402,1410000,1,145.092946,-37.867864
22,ASPENDALE,455,26.6,2,253,1122500,1,145.104105,-38.007024
23,ASPENDALE GARDENS,450,27.0,1,115,877500,1,145.104105,-38.007024
24,AVONDALE HEIGHTS,420,10.0,2,313,850000,0,144.861940,-37.761235
25,BACCHUS MARSH,360,48.8,4,707,415500,1,144.394442,-37.787135
26,BALLAN,350,69.2,2,194,414000,1,144.239102,-37.651463
27,BALWYN,700,10.4,5,417,2360000,0,145.074116,-37.811738
28,BANNOCKBURN,400,74.2,2,117,430000,0,144.194625,-38.049195
29,BANNOCKBURN,400,74.2,2,117,430000,0,153.204523,-27.733991
...,...,...,...,...,...,...,...,...,...
405,VIEWBANK,470,14.4,1,120,996500,3,145.082685,-37.744406
406,WALLAN,350,44.7,1,749,425000,0,144.956641,-37.412330
407,WANTIRNA,450,23.7,4,482,950000,2,145.221695,-37.864951
408,WARBURTON,340,64.2,2,110,415000,0,122.683881,-30.403640
409,WARBURTON,340,64.2,2,110,415000,0,145.818512,-37.727566
410,WARBURTON,340,64.2,2,110,415000,0,141.243755,-19.214466
411,WARRAGUL,360,93.4,8,1222,370000,1,145.922212,-38.207476
412,WARRANDYTE,665,24.4,2,128,1029000,0,145.204689,-37.752123
413,WATSONIA,395,15.4,3,443,835000,0,145.082426,-37.711787
414,WENDOUREE,280,104.3,3,1160,265000,1,143.825610,-37.530285
415,WERRIBEE,350,28.6,16,3218,478500,4,144.642090,-37.916240
416,WEST MELBOURNE,600,0.1,1,774,1370000,0,144.949592,-37.810871
417,WHEELERS HILL,490,22.5,6,496,1160000,2,145.170841,-37.876968
418,WHITTINGTON,320,64.6,2,374,316500,1,144.389533,-38.172770
419,WHITTLESEA,388,36.0,3,336,469500,0,145.182221,-37.469784
420,WILLIAMSTOWN,595,7.5,4,816,1476000,1,121.446478,-30.599071
421,WILLIAMSTOWN,595,7.5,4,816,1476000,1,138.897802,-34.638218
422,WILLIAMSTOWN,595,7.5,4,816,1476000,1,144.888461,-37.863743
423,WINCHELSEA,340,97.9,1,115,357000,1,143.892824,-38.203630
424,WINDSOR,620,5.3,2,701,1425000,4,150.887440,-33.466271
425,WINDSOR,620,5.3,2,701,1425000,4,144.995504,-37.854683
426,WINDSOR,620,5.3,2,701,1425000,4,153.029681,-27.426870
427,WINDSOR,620,5.3,2,701,1425000,4,138.547998,-34.595073
428,WONTHAGGI,290,103.8,4,591,289000,1,145.630713,-38.578071
429,WOODEND,465,63.8,3,216,570000,0,152.753696,-27.627522
430,WOODEND,465,63.8,3,216,570000,0,144.548846,-37.330661
431,YALLAMBIE,450,15.6,1,102,781000,0,151.317476,-32.977861
432,YALLAMBIE,450,15.6,1,102,781000,0,145.069880,-37.724398
433,YARRAGON,350,105.8,1,128,280000,0,146.065656,-38.210382
434,YARRAVILLE,510,6.4,4,701,1000000,0,144.888686,-37.814183

In [42]:
finaldata.to_csv('Results/5147final.csv')

In [56]:
averagerent = 471.1448
averagedistance = 31.78897
averageschool = 3.6919
averagecrime = 930.731
averagebuy = 9785736
averagehospital = 1.064368

In [66]:
import math
finaldata["Livability rating"] = 0
#display(finaldata)
for i in range(0, len(finaldata)):
    finaldata.iloc[i,9] = math.floor((averagerent/(finaldata.iloc[i,1]+100) 
                                      + averagedistance/(finaldata.iloc[i,2]+30) 
                                      + (finaldata.iloc[i,3]+10)/(averageschool*5) 
                                      + averagecrime/(finaldata.iloc[i,4]+averagecrime)
                                      + averagebuy/(finaldata.iloc[i,5]+averagebuy)
                                      + (finaldata.iloc[i,6]+5)/(averagehospital*3))*100)/100+2

In [67]:
display(finaldata)
finadatamodify = finaldata.drop_duplicates('Suburb')
display(finadatamodify)

,Suburb,Rent,Distance,SchoolNo,CrimeNo,Buy_Price,HospitalNo,long,lat,Livability rating
0,ABBOTSFORD,630,3.2,3,1154,1290000,0,152.297855,-24.887760,7.20
1,ABBOTSFORD,630,3.2,3,1154,1290000,0,151.133865,-33.866044,7.20
2,ABBOTSFORD,630,3.2,3,1154,1290000,0,144.998203,-37.803515,7.20
3,ALBANVALE,360,18.6,1,256,526500,4,144.796693,-37.743361,8.82
4,ALBERT PARK,795,3.0,1,605,2150000,0,144.950860,-37.846534,7.07
5,ALBERT PARK,795,3.0,1,605,2150000,0,138.509247,-34.864750,7.07
6,ALBION,360,13.3,2,421,717000,1,153.043540,-27.433237,7.90
7,ALBION,360,13.3,2,421,717000,1,144.829945,-37.777204,7.90
8,ALEXANDRA,280,95.8,3,122,288000,1,145.687889,-37.210538,7.93
9,ALEXANDRA,280,95.8,3,122,288000,1,149.059737,-21.337630,7.93
10,ALFREDTON,360,104.9,2,310,410000,4,143.864505,-37.571941,8.43
11,ALPHINGTON,590,7.0,3,219,1778500,1,145.025853,-37.778298,7.78
12,ALTONA,423,13.2,3,595,950000,1,138.897802,-34.638218,7.74
13,ALTONA,423,13.2,3,595,950000,1,144.812736,-37.861720,7.74
14,ALTONA MEADOWS,370,17.5,2,691,622500,0,144.777165,-37.875066,7.40
15,ARDEER,335,14.5,2,371,600000,0,144.793961,-37.795937,7.67
16,ARMADALE,835,6.7,2,480,2107500,0,145.019393,-37.858918,7.06
17,ARMADALE,835,6.7,2,480,2107500,0,NaN,NaN,7.06
18,ARMADALE,835,6.7,2,480,2107500,0,115.997934,-32.158675,7.06
19,ASCOT VALE,510,5.5,3,1046,1192500,1,144.897221,-37.774486,7.61
20,ASHBURTON,530,11.6,3,354,1815000,1,145.092946,-37.867864,7.66
21,ASHWOOD,438,12.7,4,402,1410000,1,145.092946,-37.867864,7.83
22,ASPENDALE,455,26.6,2,253,1122500,1,145.104105,-38.007024,7.62
23,ASPENDALE GARDENS,450,27.0,1,115,877500,1,145.104105,-38.007024,7.69
24,AVONDALE HEIGHTS,420,10.0,2,313,850000,0,144.861940,-37.761235,7.58
25,BACCHUS MARSH,360,48.8,4,707,415500,1,144.394442,-37.787135,7.59
26,BALLAN,350,69.2,2,194,414000,1,144.239102,-37.651463,7.68
27,BALWYN,700,10.4,5,417,2360000,0,145.074116,-37.811738,7.25
28,BANNOCKBURN,400,74.2,2,117,430000,0,144.194625,-38.049195,7.30
29,BANNOCKBURN,400,74.2,2,117,430000,0,153.204523,-27.733991,7.30
...,...,...,...,...,...,...,...,...,...,...
405,VIEWBANK,470,14.4,1,120,996500,3,145.082685,-37.744406,8.43
406,WALLAN,350,44.7,1,749,425000,0,144.956641,-37.412330,7.14
407,WANTIRNA,450,23.7,4,482,950000,2,145.221695,-37.864951,7.96
408,WARBURTON,340,64.2,2,110,415000,0,122.683881,-30.403640,7.47
409,WARBURTON,340,64.2,2,110,415000,0,145.818512,-37.727566,7.47
410,WARBURTON,340,64.2,2,110,415000,0,141.243755,-19.214466,7.47
411,WARRAGUL,360,93.4,8,1222,370000,1,145.922212,-38.207476,7.53
412,WARRANDYTE,665,24.4,2,128,1029000,0,145.204689,-37.752123,7.20
413,WATSONIA,395,15.4,3,443,835000,0,145.082426,-37.711787,7.52
414,WENDOUREE,280,104.3,3,1160,265000,1,143.825610,-37.530285,7.47
415,WERRIBEE,350,28.6,16,3218,478500,4,144.642090,-37.916240,8.99
416,WEST MELBOURNE,600,0.1,1,774,1370000,0,144.949592,-37.810871,7.31
417,WHEELERS HILL,490,22.5,6,496,1160000,2,145.170841,-37.876968,8.00
418,WHITTINGTON,320,64.6,2,374,316500,1,144.389533,-38.172770,7.66
419,WHITTLESEA,388,36.0,3,336,469500,0,145.182221,-37.469784,7.40
420,WILLIAMSTOWN,595,7.5,4,816,1476000,1,121.446478,-30.599071,7.56
421,WILLIAMSTOWN,595,7.5,4,816,1476000,1,138.897802,-34.638218,7.56
422,WILLIAMSTOWN,595,7.5,4,816,1476000,1,144.888461,-37.863743,7.56
423,WINCHELSEA,340,97.9,1,115,357000,1,143.892824,-38.203630,7.64
424,WINDSOR,620,5.3,2,701,1425000,4,150.887440,-33.466271,8.46
425,WINDSOR,620,5.3,2,701,1425000,4,144.995504,-37.854683,8.46
426,WINDSOR,620,5.3,2,701,1425000,4,153.029681,-27.426870,8.46
427,WINDSOR,620,5.3,2,701,1425000,4,138.547998,-34.595073,8.46
428,WONTHAGGI,290,103.8,4,591,289000,1,145.630713,-38.578071,7.66
429,WOODEND,465,63.8,3,216,570000,0,152.753696,-27.627522,7.19
430,WOODEND,465,63.8,3,216,570000,0,144.548846,-37.330661,7.19
431,YALLAMBIE,450,15.6,1,102,781000,0,151.317476,-32.977861,7.54
432,YALLAMBIE,450,15.6,1,102,781000,0,145.069880,-37.724398,7.54
433,YARRAGON,350,105.8,1,128,280000,0,146.065656,-38.210382,7.29
434,YARRAVILLE,510,6.4,4,701,1000000,0,144.888686,-37.814183,7.44

,Suburb,Rent,Distance,SchoolNo,CrimeNo,Buy_Price,HospitalNo,long,lat,Livability rating
0,ABBOTSFORD,630,3.2,3,1154,1290000,0,152.297855,-24.887760,7.20
3,ALBANVALE,360,18.6,1,256,526500,4,144.796693,-37.743361,8.82
4,ALBERT PARK,795,3.0,1,605,2150000,0,144.950860,-37.846534,7.07
6,ALBION,360,13.3,2,421,717000,1,153.043540,-27.433237,7.90
8,ALEXANDRA,280,95.8,3,122,288000,1,145.687889,-37.210538,7.93
10,ALFREDTON,360,104.9,2,310,410000,4,143.864505,-37.571941,8.43
11,ALPHINGTON,590,7.0,3,219,1778500,1,145.025853,-37.778298,7.78
12,ALTONA,423,13.2,3,595,950000,1,138.897802,-34.638218,7.74
14,ALTONA MEADOWS,370,17.5,2,691,622500,0,144.777165,-37.875066,7.40
15,ARDEER,335,14.5,2,371,600000,0,144.793961,-37.795937,7.67
16,ARMADALE,835,6.7,2,480,2107500,0,145.019393,-37.858918,7.06
19,ASCOT VALE,510,5.5,3,1046,1192500,1,144.897221,-37.774486,7.61
20,ASHBURTON,530,11.6,3,354,1815000,1,145.092946,-37.867864,7.66
21,ASHWOOD,438,12.7,4,402,1410000,1,145.092946,-37.867864,7.83
22,ASPENDALE,455,26.6,2,253,1122500,1,145.104105,-38.007024,7.62
23,ASPENDALE GARDENS,450,27.0,1,115,877500,1,145.104105,-38.007024,7.69
24,AVONDALE HEIGHTS,420,10.0,2,313,850000,0,144.861940,-37.761235,7.58
25,BACCHUS MARSH,360,48.8,4,707,415500,1,144.394442,-37.787135,7.59
26,BALLAN,350,69.2,2,194,414000,1,144.239102,-37.651463,7.68
27,BALWYN,700,10.4,5,417,2360000,0,145.074116,-37.811738,7.25
28,BANNOCKBURN,400,74.2,2,117,430000,0,144.194625,-38.049195,7.30
30,BARWON HEADS,450,66.4,1,120,930500,0,144.408140,-38.263052,7.14
31,BAXTER,400,45.7,1,224,530000,0,145.169556,-38.196908,7.27
32,BAYSWATER,400,26.9,7,910,805500,1,145.270141,-37.845116,7.73
35,BEACONSFIELD,400,43.8,2,278,700000,0,146.783947,-41.177924,7.29
40,BEAUMARIS,798,20.1,2,261,1600000,0,148.281407,-42.314526,7.01
42,BELGRAVE,460,36.0,2,218,620000,0,145.350821,-37.935097,7.28
43,BELMONT,370,67.7,10,809,495000,1,144.334005,-38.215906,7.77
48,BENTLEIGH,580,13.2,4,630,1450000,2,145.036783,-37.916956,7.84
49,BERWICK,410,41.2,10,1905,672500,7,145.349488,-38.025018,9.47
...,...,...,...,...,...,...,...,...,...,...
394,TOORAK,963,5.1,4,660,5050000,1,145.017732,-37.844110,7.23
395,TORQUAY,520,80.4,2,370,730000,0,144.299978,-38.307545,6.90
397,TRAFALGAR,323,113.4,3,252,335000,0,122.683881,-30.403640,7.35
399,TRAVANCORE,550,5.0,1,122,1415000,1,144.897221,-37.774486,7.86
400,TULLAMARINE,380,16.4,1,933,655000,0,144.888368,-37.691916,7.26
401,TYABB,410,53.6,3,112,510500,0,145.166426,-38.262273,7.41
402,UPPER FERNTREE GULLY,413,31.8,1,188,685000,1,145.292895,-37.917932,7.67
403,UPWEY,450,33.9,3,230,680000,0,145.324468,-37.910077,7.36
404,VERMONT,450,20.5,4,218,1050000,1,145.192303,-37.848786,7.83
405,VIEWBANK,470,14.4,1,120,996500,3,145.082685,-37.744406,8.43
406,WALLAN,350,44.7,1,749,425000,0,144.956641,-37.412330,7.14
407,WANTIRNA,450,23.7,4,482,950000,2,145.221695,-37.864951,7.96
408,WARBURTON,340,64.2,2,110,415000,0,122.683881,-30.403640,7.47
411,WARRAGUL,360,93.4,8,1222,370000,1,145.922212,-38.207476,7.53
412,WARRANDYTE,665,24.4,2,128,1029000,0,145.204689,-37.752123,7.20
413,WATSONIA,395,15.4,3,443,835000,0,145.082426,-37.711787,7.52
414,WENDOUREE,280,104.3,3,1160,265000,1,143.825610,-37.530285,7.47
415,WERRIBEE,350,28.6,16,3218,478500,4,144.642090,-37.916240,8.99
416,WEST MELBOURNE,600,0.1,1,774,1370000,0,144.949592,-37.810871,7.31
417,WHEELERS HILL,490,22.5,6,496,1160000,2,145.170841,-37.876968,8.00
418,WHITTINGTON,320,64.6,2,374,316500,1,144.389533,-38.172770,7.66
419,WHITTLESEA,388,36.0,3,336,469500,0,145.182221,-37.469784,7.40
420,WILLIAMSTOWN,595,7.5,4,816,1476000,1,121.446478,-30.599071,7.56
423,WINCHELSEA,340,97.9,1,115,357000,1,143.892824,-38.203630,7.64
424,WINDSOR,620,5.3,2,701,1425000,4,150.887440,-33.466271,8.46
428,WONTHAGGI,290,103.8,4,591,289000,1,145.630713,-38.578071,7.66
429,WOODEND,465,63.8,3,216,570000,0,152.753696,-27.627522,7.19
431,YALLAMBIE,450,15.6,1,102,781000,0,151.317476,-32.977861,7.54
433,YARRAGON,350,105.8,1,128,280000,0,146.065656,-38.210382,7.29
434,YARRAVILLE,510,6.4,4,701,1000000,0,144.888686,-37.814183,7.44

In [68]:
finadatamodify.to_csv('Results/5147finalwithrate.csv')